.comment-list
  .comment_user
    %figure.comment_user_icon
    .comment_user_owner
  .comment_text
    %p.comment_text_user-name
      = comment.user.nickname
    %p.comment_text_content
      = comment.text
