.bank-new {
  background-color: #fff;
  &__inner {
    padding: 64px;
    border-top: 1px solid #f5f5f5;
  }
  &__main {
    max-width: 320px;
    margin: 0 auto;
  }
  &__form {
    margin: 40px 0 0;
    &:first-child{
      margin: 0;
    }
    img {
      margin-top: 7px;
      margin-right: 7px;
    }
    &__title {
      font-size: 14px;
      font-weight: bold;
    }
    &__cation {
      float: right;
      margin: 5px 0 40px;
    }
    &__selecter {
      span {
        margin: 0 8px;
      }
      .select_wrap {
        display: inline-block;
        width: 35%;
        i {
          position: absolute;
          right: 16px;
          top: 28%;
          color: #888;
          font-size: 25px;
        }
      }
    }
  }
}

.heading-2 {
  font-size: 23px;
  padding: 8px 24px;
  border-bottom: 1px solid #f5f5f5;
  text-align: center;
}
