.buy_content {
  padding: 24px 12.5% 0;
  border-top: 1px solid #f5f5f5;
  &__inner {
    max-width: 320px;
    margin: 0 auto;
  }
}

.buy_item {
  text-align: center;
  &__img {
    width: 148px;
  }
  .item__name {
    margin: 8px 0 0;
    font-size: 16px;
    line-height: 1.5;
    font-weight: bold;
  }
  &__price {
    margin: 8px 0 0;
    line-height: 1.5;
    font-weight: 600;
    font-size: 28px;
  }
  &__postage {
    font-size: 14px;
    margin: 0 0 0 8px;
    font-weight: 400;
  }
  &__accodion {
    margin: 16px 0 0;
    list-style: none;
    li {
      display: list-item;
      text-align: -webkit-match-parent;
    }
    .accodion {
      &__text {
        padding: 16px;
        border: 1px solid #ccc;
        position: relative;
        vertical-align: middle;
        cursor: pointer;
      }
      &__selecter {
        color: #333;
      }
      &__list {
        display: block;
        background-color: #fafafa;
        padding: 24px 40px;
        text-align: left;
      }
      &__have_point {
        font-weight: 600;
        font-size: 14px;
      }
      &__radio {
        margin: 16px 0 0;
        position: relative;
        &__button {
        position: absolute;
        top: 50%;
        left: 0;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: #fff;
        transition: all ease-out .3s;
        cursor: pointer;
        transform: translate(0, -50%);
        }
      }
      &__radio > label {
        margin: 0 0 0 28px;
        font-size: 14px;
        font-weight: 400;
        display: inline-block;
        cursor: pointer;
      }
    }
  }
  &__table {
    display: table;
    border-collapse: collapse;
    width: 100%;
  }
  &__pay {
    display: table-row;
    &__text {
      text-align: left;
      display: table-cell;
      padding: 16px 0;
      font-size: 22px;
      font-weight: 600;
    }
    &__price {
      text-align: right;
      display: table-cell;
      padding: 16px 0;
    }
    &__price > span {
      font-size: 22px;
      font-weight: 600;
    }
  }
  &__button {
    margin: 16px 0 0;
    background-color: #ea352d;
    border: 1px solid #ea352d;
    color: #fff;
    outline: 0;
  }
  &__button:disabled {
    margin: 16px 0 0;
    border: 1px splid #888;
    background-color: #888;
    color: #fff;
    cursor: not-arrowed;
  }
}
.buy_user_info {
  -webkit-transition: all ease-out .3s;
  transition: all ease-out .3s;
  margin: 40px 0 0;
  &__heading {
    font-size: 14px;
    font-weight: bold;
  }
  &__text {
    display: block;
    margin: 8px 0 0;
    font-size: 14px;
    line-height: 1.4;
  }
  &__fix {
    display: block;
    text-align: right;
    color: #0099e8;
    font-size: 14px;
    text-decoration: none;
  }
  &__fix:hover {
    text-decoration: underline;
  }
  &__card {
    weight: 10%;
    height: 20px;
  }
}
.buy_user_info:last-of-type {
  padding: 40px 12.5%;
}

#payjp_checkout_box input[type=button] {
  background-color: #ea352d !important;
  background-image: none !important;
  border: 1px solid #ea352d !important;
  font-size: 14px !important;
  padding: 0 !important;
  width: 100%;
  height: 60px;
  outline: 0;
}

.notice {
  background-color: #FFF6DD;
  text-align: center;
  height: 80px;
  padding-top: 30px;
  &__red {
    color: #ea352d;
    font-weight: bold;
    .far {
      font-size: 30px;
    }
  }
  &__black {
    margin-top: 10px;
    font-size: 14px;
  }
}
.heading {
  text-align: center;
  padding: 20px;
  font-size: 18px;
}

.payjp-button {
  background-color: #ea352d !important;
  background-image: none !important;
  border: 1px solid #ea352d !important;
  font-size: 14px !important;
  padding: 0 !important;
  width: 100%;
  height: 60px;
  outline: 0;
  color: #fff;
}

.btn_default {
  font-size: 14px;
  width: 100%;
  height: 60px;
  outline: 0;
  display: inline-block;
  text-align: center;
  line-height: 60px;
}
