address, small, div, caption, li, th, td, dd, dl, h1, h2, h3, h4, h5, a, p, pre, span, input, textarea, label{
  font-weight: 400;
  font-size: 16px;
}

body, header, footer, main, article{
  display: block;
  clear: both;
}

li, dl{
  list-style: none;
  text-align: center;
}

a {
  text-decoration: none;
  color: #999;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 700px) {
  .item:last-child{
    display: none;
  }
  .item:nth-child(3){
    display: none;
  }
  .item {
  width: 49%;
  }
}
@media screen and (min-width: 701px) and (max-width: 900px) {
  .item:last-child{
    display: none;
  }
  .item {
  width: 31%;
  }
}

@media screen and (min-width: 901px) {
  .item {
  width: 23%;
  }
}

.sample_tag {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.header {
  width: calc(100% - 40px);
  height: 80px;
  padding: 0 20px;
  display: block;
  background: #fff;
  position: sticky;
  top: 0;

  &_top {
    width: 100%;
    height: 50px;
    display: block;

    .header_top_logo {
      width: 150px;
      height: 50px;
      display: block;
      float: left;
    }
    .header_top_form {
      width: calc(100% - 150px);
      height: 50px;
      display: block;
      float: left;

      .header_top_form_search, .header_top_form_btn {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
      }
      .header_top_form_search {
        width: 100%;
        height: 30px;
        margin-top: 10px;
        display: inline-block;
      }

      .header_top_form_btn {
        -webkit-appearance: none;
        -moz-appearance: none;
        -o-appearance: none;
        -ms-appearance: none;
        appearance: none;
        width: 30px;
        height: 30px;
        margin-top: 10px;
        display: inline-block;
        background: #fff;
        position: absolute;
        top: 0;
        left: calc(100% - 50px);
        z-index: 1000;
      }
    }
  }
  .header_bottom {
    width: 100%;
    height: 30px;
    display: block;
    clear: both;

    .header_bottom_nav {
      width: 340px;
      height: 30px;
      display: block;
      float: left;

      .nav {

        .nav_list {
          width: 170px;
          height: 30px;
          display: block;
          float: left;
          line-height: 30px;
        }
        .nav_list:hover {
          background: #fcf;
        }
        .nav_list ul {
          width: 170px;
          height: 150px;
          background: #fff;
          display: none;
        }

        .nav_list:hover ul {
          display: block;
        }

        .nav_list li {
          width: 130px;
          height: 30px;
          padding: 0 20px;
          background: #fff;
        }

        .nav_list li:hover {
          background: #ffc;
        }
      }
    }
    .header_bottom_menu {
      width: auto;
      height: 30px;
      display: block;
      float: right;
      .menu{
        .menu_list {
          width: 120px;
          height: 30px;
          display: block;
          float: left;
          line-height: 30px;
        }
        .menu_list:hover {
          background: #fcf;
        }
        .menu__list {
          display: none;
        }

      }
    }
  }
}

.bxslider-wrap {
  width: 100%;
  height: 150px;
  background: #cfcfcf;
  display: block;
  .top-image {

  }
}

.main {
  width: calc(100% - (5% * 2));
  height: auto;
  margin: 0 5%;
  padding-bottom: 30px;
  background: #ffcfcf;
  display: block;
}

.main > h2 {
  width: 100%;
  height: 50px;
  display: block;
  line-height: 50px;
  text-align: center;
}

.item-wrap {
  width: 100%;
  height: auto;
  background: #cfffcf;
  display: block;
}

.item-wrap > h2 {
  width: 100%;
  height: 30px;
  display: block;
  line-height: 30px;
  text-align: center;
}

.item-list {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  .item {
    height: 300px;
    margin: 0 5px;
    background: #fff;
    display: block;
    a {

      .item_top {

        .item_top_image {
          width: 100%;
          height: 200px;
          background: #f0f0f0;
          display: block;
        }
      }
      .item_bottom {
        width: calc(100% - (5% * 2));
        height: auto;
        padding: 5px 10px 5%;
        display: block;
        .item_bottom_name {
          width: auto;
          height: 50px;
          display: block;
          overflow: hidden;
        }
        .item_top_image::after {
          content: "";
          width: 100px;
          height: 25px;
          display: block;
          -webkit-box-shadow: -70px 0px 50px 0px #fff inset;
          -moz-box-shadow: -70px 0px 50px 0px #fff inset;
          -o-box-shadow: -70px 0px 50px 0px #fff inset;
          -ms-box-shadow: -70px 0px 50px 0px #fff inset;
          box-shadow: -70px 0px 50px 0px #fff inset;
          position: relative;
          bottom: calc(-100% - 25px);
          left: calc(100% - 100px);
          z-index: 1000;
        }
        .price{
          float: left;
        }
        .price::after {
          content: "(税込)";
        }
        .like{
          width: 50px;
          height: 25px;
          display: block;
          float: right;
        }
      }
    }
  }
}

.all-show {
  display: block;
  float: right;
}


