h2 {
  display: block;
  font-weight: bold;
}

@media screen and (max-width: 700px) {
  .simple_container {
    background-color: #fff;
  }
}

@media screen and (min-width: 701px) {
  .simple_container {
    width: 700px;
    margin: 0 auto;
    background-color: #fff;
  }
}

.simple_main{
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  position: relative;
  padding: 0 0 250px;
  box-sizing: border-box;
  background-color: #f5f5f5;
}

.simple_main > div, p, label {
  font-size: 14px;
}
.heading {
  padding: 24px 8px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}


.simple_content_form {
  width: 700px;
  margin: 0 auto;
  background: #fff;

  .heading {
    font-size: 22px;
    padding: 32px 16px;
  }

  .sell_upload__head {
    font-size: 16px;
    font-weight: bold;
    float: left;
    padding-left: 40px;
  }
  .form_require {
    background-color: #ea352d;
    margin: 0 0 0 8px;
    padding: 2px 4px;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
  }
}


.dropzone_container.clearfix {
  width: 620px;
  padding: 40px;
  position: relative;
  display: flex;

  #dropzone_preview {
    display: flex;
    height: 180px;
    position: relative;

    .img_view {
      width: 116px;
      background: #f5f5f5;
      margin: 0 0 10px 10px;
      position: relative;

      img {
        width: 116px;
        display: inline-block;
        position: relative;
        top: 20px;
      }

      .btn_wrapper {

        .btn_edit {
          position: absolute;
          display: inline-block;
          bottom: 0;
          left: 10px;
        }
        .btn_delete {
          display: inline-block;
          position: absolute;
          bottom: 0;
          right: 10px;

        }
      }
    }
  }
  .dropzone_area {
    width: 100%;
    height: 180px;
    display: inline-block;


    .dropzone_area_box {

      .input_area {
        text-align: center;
        margin: 74px;

        .upload-image {
          display: none;
        }
        p {
          text-align: center;

        }
      }
    }
  }
}


input.input_some {
  width: 100%;
  height: 40px;
  padding: 8px;
}

.sell_item {
  padding: 40px;
  border-top: 1px solid #eee;
  &__form {
    margin: 40px 0 0;
  }
  &__form:first-child {
    margin: 0;
  }
  &__form > label {
    font-weight: 600;
    display: inline-block;
  }
  &__head {
    color: #888;
    font-size: 14px;
    font-weight: bold;
  }
  &__selecters {
    margin: 40px 0 0;
  }
}

.sell_price {
  .sell_item__form {
    margin: 0;
    &__left {
      width: 50%;
      line-height: 48px;
      font-weight: 600;
      float: left;
      display: inline-block;
      text-align: left;
    }
    &__left_slim {
      width: 50%;
      float: left;
      text-align: left;
    }
    &__left_big {
      width: 50%;
      float: left;
      text-align: left;
      font-size: 16px;
      font-weight: 600;
    }
    &__right {
      width: 50%;
      text-align: right;
      float: right;
      .input_some {
        margin: 0;
        text-align: right;
      }
    }
    &__right_slim {
      float: right;
    }
    &__right_big {
      font-size: 34px;
      font-weight: 600;
      float: right;
    }
    &__right > div {
      display: inline-block;
      width: 80%;
      margin: 0 0 0 5%;
    }
  }
}
.sell_price > li:first-child {
  height: 48px;
  padding: 0 0 24px;
  border: 0;
}
.sell_price > li {
  padding: 24px 0;
  border-top: 1px solid #ccc;
  height: 14px;
}

.select_wrap {
  margin: 8px 0 0;
  position: relative;
  background-color: #fff;
  .fa-chevron-down {
    position: absolute;
    right: 16px;
    top: 50%;
    z-index: 2;
    color: #888;
    font-size: 18px;
    transform: translate(0, -50%);
    text-transform: none;
  }
  select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
}

.select_default {
  width: 100%;
  position: relative;
  z-index: 2;
  height: 48px;
  padding: 0 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: 0;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  outline: 0;
}

.select_wrap_second {
  margin: 8px 0 0;
  position: relative;
  background-color: #fff;

  #second_category {
    width: 100%;
    position: relative;
    z-index: 2;
    height: 48px;
    padding: 0 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: 0;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
    outline: 0;
  }
}

.select_wrap_third {
  margin: 8px 0 0;
  position: relative;
  background-color: #fff;

  #third_category {
    width: 100%;
    position: relative;
    z-index: 2;
    height: 48px;
    padding: 0 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: 0;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
    outline: 0;

  }
}

.textarea_some {
    display: block;
    width: 100%;
    max-width: 100%;
    min-height: 104px;
    padding: 10px;
    border: 1px solid #ccc;
    background: #fff;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 0;
    outline: 0;
}

.sell_cation {
  color: #0099e8;
  font-size: 14px;
}

.button_default {
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  border: 1px solid transparent;
  -webkit-transition: all ease-out .3s;
  transition: all ease-out .3s;
  cursor: pointer;
  text-align: center;

  .buy_item__button {
    width: 100%;
    line-height: 48px;
    font-size: 16px;
    margin: 40px 0 0;
    background: #ea352d;
    border: 1px solid #ea352d;
    color: #fff;
  }

  .btn_gray {
    width: 45%;
    margin: 24px auto 0;
    background-color: #aaa;
    border: 1px solid #aaa;
    color: #fff;
  }
}


.sell_question {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #0099e8;
  color: #fff;
  line-height: 14px;
  font-size: 12px;
  text-align: center;
}

.form_require {
  background-color: #ea352d;
  margin: 0 0 0 8px;
  padding: 4px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.visible_item {
  display: none;
  overflow: auto;
}

