// address, small, div, caption, li, th, td, dd, dl, h1, h2, h3, h4, h5, a, p, pre, span, input, textarea, label{
//   font-weight: 400;
//   font-size: 16px;
// }

body, header, footer, main, article{
  display: block;
  clear: both;
  background: #f5f5f5;
}

li, dl{
  list-style: none;
  // text-align: center;
}

a {
  text-decoration: none;
  // width: 100%;
  // height: 100%;
}


.sample_tag {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.index_header {
  height: 100px;
  padding: 0 10% 15px;
  display: block;
  background: #fff;

  .index_header_top {
    width: 100%;
    height: 50px;
    padding-top: 10px;
    display: block;

    .index_header_top_logo {
      width: 150px;
      height: 50px;
      display: block;
      float: left;
      .index_mercari_main_logo{
        width: 134px;
        height: 36px;
        padding-top: 7px;
      }
    }
    .index_header_top_form {
      width: calc(97% - 150px);
      height: 50px;
      display: block;
      float: left;
      position: relative;
      left: 3%;


      .index_header_top_form_search, .index_header_top_form_btn {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
      }
      .index_header_top_form_search {
        width: 100%;
        height: 50px;
        padding: 0 42px 0 10px;
        border-radius: 2px;
        display: inline-block;
        background-color: #e6e6e6;
        border: none;
      }

      .index_header_top_form_btn {
        -webkit-appearance: none;
        -moz-appearance: none;
        -o-appearance: none;
        -ms-appearance: none;
        appearance: none;
        margin-top: 25px;
        display: inline-block;
        position: absolute;
        top: -6px;
        left: calc(100% - 5%);
        z-index: 1000;
      }
    }
  }
  .index_header_bottom {
    width: 100%;
    height: auto;
    display: block;
    clear: both;
    padding-top: 10px;

    .index_header_bottom_nav {
      width: 340px;
      height: 30px;
      display: block;
      float: left;

      .index_search_list {

        .index_search_list-two {
          width: 170px;
          height: 30px;
          display: block;
          float: left;
          line-height: 30px;

          .index_nav_list_str{
            font-weight: bold;
            color: #333333
          }
        }

        .index_search_list-two:hover {
          display: block;
        }

      }
    }
    .index_header_bottom_menu {
      width: auto;
      height: 30px;
      display: block;
      float: right;
      margin: 0;
      .index_menu_list {
        .index_menu_list_login {
          width: 80px;
          height: 30px;
          margin-right: 10px;
          display: inline-block;
          float: left;
          line-height: 30px;
          border: 1px solid #ea352d;
          color: #fff;
          text-align: center;
          border-radius: 4px;
          background: #ea352d;
        }

        .index_menu_list_signup {
          width: 100px;
          height: 30px;
          display: inline-block;
          float: left;
          line-height: 30px;
          border: 1px solid #0099e8;
          color: #0099e8;
          text-align: center;
          border-radius: 4px;
          background: #fff;
        }
        .index_menu_list:hover {
          background: #fcf;
        }
        .index_menu__list {
          display: none;
        }
      }
    }
  }
}


