// address, small, div, caption, li, th, td, dd, dl, h1, h2, h3, h4, h5, a, p, pre, span, input, textarea, label{
//   font-weight: 400;
//   font-size: 16px;
// }

body, header, footer, main, article{
  display: block;
  clear: both;
  background: #f5f5f5;
}

li, dl{
  list-style: none;
  // text-align: center;
}

a {
  text-decoration: none;
  // width: 100%;
  // height: 100%;
}


.sample_tag {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.index_header {
  height: 100px;
  padding: 0 10% 15px;
  display: block;
  background: #fff;
  z-index: 9999;
  position: static;

  .index_header_top {
    width: 100%;
    height: 50px;
    padding-top: 10px;
    display: block;

    .index_header_top_logo {
      width: 150px;
      height: 50px;
      display: block;
      float: left;
      .index_mercari_main_logo{
        width: 134px;
        height: 36px;
        padding-top: 7px;
      }
    }
    .index_header_top_form {
      width: calc(97% - 150px);
      height: 50px;
      display: block;
      float: left;
      position: relative;
      left: 3%;


      .index_header_top_form_search, .index_header_top_form_btn {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
      }
      .index_header_top_form_search {
        width: 100%;
        height: 50px;
        padding: 0 42px 0 10px;
        border-radius: 2px;
        display: inline-block;
        background-color: #f5f5f5;
        border: none;
      }

      .index_header_top_form_btn {
        -webkit-appearance: none;
        -moz-appearance: none;
        -o-appearance: none;
        -ms-appearance: none;
        appearance: none;
        margin-top: 25px;
        display: inline-block;
        position: absolute;
        top: -6px;
        left: calc(100% - 5%);
        z-index: 1000;
      }
    }
  }
  .index_header_bottom {
    width: 100%;
    height: auto;
    display: block;
    clear: both;
    padding-top: 10px;

    .index_header_bottom_nav {
      width: 340px;
      height: 30px;
      display: block;
      float: left;

      .index_search_list {

        .index_search_list-two {
          width: 170px;
          height: 30px;
          display: block;
          float: left;
          line-height: 30px;

          .index_nav_list_str{
            font-weight: bold;
            color: #333;
            font-size: 14px;
          }
          .index_nav_list_str:hover{
            color: #0099E8;
          }
        }

        .index_search_list-two:hover {
          display: block;
        }

      }
    }
    .index_header_bottom_menu {
      width: auto;
      height: 30px;
      display: block;
      float: right;
      margin: 0;
      .index_menu_list {
        .index_menu_list_login {
          width: 80px;
          height: 30px;
          margin-right: 10px;
          display: inline-block;
          float: left;
          line-height: 30px;
          border: 1px solid #ea352d;
          color: #fff;
          text-align: center;
          border-radius: 4px;
          background: #ea352d;
        }

        .index_menu_list_signup {
          width: 100px;
          height: 30px;
          display: inline-block;
          float: left;
          line-height: 30px;
          border: 1px solid #0099e8;
          color: #0099e8;
          text-align: center;
          border-radius: 4px;
          background: #fff;
        }
        .index_menu_list:hover {
          background: #fcf;
        }
        .index_menu__list {
          display: none;
        }
      }
    }
  }
}


.category_nav {
  clear: both;
  z-index: 1000;
  position: relative;
}
.category_nav > ul {
  position: absolute;
}





#lists-1 {
  margin-left: 70px;
  width: 200px;
}
#lists-1 > li {
  padding: 10px 16px;
}
#lists-1 > li:hover {
  background-color: #EA352C;
  color: #fff;
}


#lists-2 {
  margin-left: 270px;
  width: 200px;
}

#lists-2 > li:hover {
  background-color: #E6E6E6;
}


#lists-3 {
  margin-left: 470px;
}

#lists-3 > li:hover {
  background-color: #E6E6E6;
}
.category_nav > ul > li{
  padding: 6px 16px;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  box-shadow: 1px 0 0 0 #eee inset;
  background-color: #fff;
}
.search__bland > {
  clear: both;
  position: relative;
}

.search__bland > ul {
  z-index: 1000;
  position: absolute;
  width: 170px;
  height: 150px;
  background: #fff;
  display: none;
}

.bland-list {
  padding: 10px;
  font-size: 14px;
  color: #333;
  text-align: left;
}

.search__bland:hover ul {
  display: block;
}

.search__bland li {
  width: 130px;
  height: 42px;
  line-height: 42px;
  padding: 0 20px;
  background: #fff;
}

.search__bland li:hover {
  background: #ea352d;
}
.bland-list:hover {
  color: #fff;
}


.index_nav_list_logo{
  color: #EA352C;
}


.menu__list {
  width: 130px;
  height: 30px;
  float: left;
  line-height: 30px;
  display: none;
}

.menu_list:hover {
  background: #fcf;
}


.menu__list_my-page_wrap {
  width: 320px;
  height: auto;
  background: #fff;
  display: block;
}

.menu__list_my-page {
  width: 304px;
  height: auto;
  margin: 0 8px 10px 8px;
  background: red;
  display: block;
}

.menu__list_image {
  width: 100%;
  height: 90px;
  background: #ffcfff;
  display: block;
}

.menu__list_account {
  width: 150px;
  height: 100px;
  margin: 0 auto;
  display: block;
  position: relative;
  top: 40px;
  text-align: center;
}

.menu__list_account_icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0 auto;
  background: grey;
  display: block;
}

.menu__list_name, .menu__list_about {
  width: 150px;
  height: 20px;
  display: block;
  text-align: center;
  line-height: 20px;
}

.menu__list_name {
  margin: 20px auto 10px;
  font-size: 16px;
}

.menu__list_about {
  margin: 10px auto 10px;
  font-size: 12px;
}

.menu__list_about_review, .menu__list_about_listing {
  margin: 0 10px;
}

.menu__list_my-page__list:hover .menu__list_my-page__list_right-arrow {
  color: black;
  font-weight: bold;
}

.menu__list_my-page_list, .menu__list_my-page__list {
  width: calc(100% - (16px * 2));
  height: 16px;
  padding: 16px;
  font-size: 14px;
  border-bottom: solid #eee 1px;
  display: block;
  position: relative;
}

.menu__list_my-page__list {
  background: #fff;
}

.menu__list_my-page__list {
  background: #f5f5f5;
}

.menu__list_my-page_list_right-arrow, .menu__list_my-page__list_right-arrow {
  width: 14px;
  display: block;
  position: absolute;
  right: 10px;
  top: calc(50% - 8px);
}

.menu__list_my-page_list:hover .menu__list_my-page_list_right-arrow {
  color: black;
  font-weight: bold;
  right: 5px;
}

.menu__list_my-page_list:hover {
  background: #f5f5f5;
}
.num {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: red;
  display: block;
  color: #fff;
  font-size: 10px;
  text-align: center;
  line-height: 20px;
  position: absolute;
  right: 30px;
  top: calc(50% - (14px / 2));
}

.blank {
  height:14px;
}
