//出品した商品ー出品中ページ
.my-page {
  a {
    width: 100%;
    height: 100%;
    display: block;
  }

  &_interval {
    width: 1020px;
    height: auto;
    margin: 20px auto 0;
    padding-bottom: 30px;
    display: block;
  }

  &-main-exhibit, &-asaid-exhibit {
    float: right;
  }

  &-main-exhibit {
    width: 700px;
    min-height: 70px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    background: #fff;
    display: block;
    &_title {
      height: 50px;
      h2 {
        text-align: center;
        line-height: 70px;
      }
    }

    &_notice-wrap {
    }

    &_notice-index {
      width: 700px;
      height: 70px;
      padding: 0;
      display: block;
      clear: both;

      &_news, &_todo {
        width: calc(700px / 3);
        height: 70px;
        line-height: 72px;
        text-align: center;
        display: block;
        float: left;
      }

      &_news {
        background: #fff;
        border-top: solid #ea352d 2px;
      }

      &_todo {
        background: #e5e5e5;
        border-top: solid #e5e5e5 2px;
      }
    }

    .my-page-main-exhibit_item {
      display: block;
      box-sizing: border-box;
      position: relative;
      padding: 0 20px;
      height: 83px;
      width : 700px;

      &_ele {
        position: absolute;
        top : 20%;
        clear: both;
        height: 51px;
        width: 500px;

        &_image {
          float: left;
          height: 48px;
          width: 48px;
          margin-right: 20px;
          background-color: gray;
        }
        &_name {
          height: 21px;
          width: 500px;
          margin-bottom: 5px;
          color: #000;
        }
        &_icons {
          height: 24px;
          width: 500px;
          display: inline;

          &_heart {
            display: inline-block;
            color: #eee;
          }
          &_number {
            display: inline-block;
            color: #888;
          }
          &_comment {
            display: inline-block;
            color: #eee;
          }
          &_exhibit {
            display: inline-block;
            height: 22px;
            width: 48px;
            text-align: center;
            line-height: 22px;
            font-size: 12px;
            border-radius: 2px;
            color: #fff;

            background: #0099e8;
          }
        }
      }

      .fa-chevron-right {
        position: absolute;
        top: 40%;
        right: 2%;
        color: #000;
      }


    }
  }
}
