.searched-category-list {
  &_wrap {
    width: calc(100% - (10% * 2));
    padding: 0 10%;
    position: relative;
    border-top: 1px solid #eee;
    -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.16);
    background: #fff;
  }

  width: auto;
  height: auto;
  padding: 10px 10px 0;
  margin: 0 5px 10px;
  display: inline-block;
  font-size: 12px;
  color: #999;

  &_btn {
    color: #999;
  }

  &:hover {
    border-bottom: 1px solid #999;
  }

  &:last-child {
    font-weight: bold;
    color: #000;
    i {
    display: none;
    }
  }
}

.category_item {
  &-wrap {
    width: 1020px;
    height: auto;
    min-height: 300px;
    margin: 20px auto;
    display: block;
    float: right;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
  }

  &-list {
    width: 220px;
    height: 320px;
    margin: 0 5px 10px 5px;
    background: #fff;
    display: block;
  }

  &_top_image {
    width: 100%;
    height: 220px;
    background: #f0f0f0;
    display: block;
    &::after {
      content: "";
      width: 100px;
      height: 25px;
      display: block;
      -webkit-box-shadow: -70px 0px 50px 0px #fff inset;
      -moz-box-shadow: -70px 0px 50px 0px #fff inset;
      -o-box-shadow: -70px 0px 50px 0px #fff inset;
      -ms-box-shadow: -70px 0px 50px 0px #fff inset;
      box-shadow: -70px 0px 50px 0px #fff inset;
      position: relative;
      bottom: calc(-100% - 25px);
      left: calc(100% - 100px);
      z-index: 1000;
    }
  }
  &_bottom {
    width: calc(100% - (5% * 2));
    height: 110px;
    padding: 5px 10px 5%;
    display: block;
    &_name {
      width: auto;
      height: 3em;
      text-align: left;
      color: #333;
      display: block;
      overflow: hidden;
      word-break: break-word;
      position: relative;
      line-height: 45px;
    }
    &-num {
      &_price {
        float: left;
        font-weight: 600;
        color: #333;
        position: relative;
        top: 20px;
        &::after {
          content: "(税込)";
          word-wrap: break-word;
          font-size: 12px;
        }
      }
      &_like{
        width: 50px;
        height: 25px;
        display: block;
        float: right;
        position: relative;
        top: 20px;
      }
    }
  }
}
