.simpleheader {
  text-align: center;
  background-color: #f5f5f5;
  height: 56px;
  .header_icon {
    &__logo {
      margin-top: 8px;
      width: 130px;
      height: 40px;
      vertical-align: middle;
    }
    &__logo:hover {
      opacity: 0.5;
    }
  }
}

.simplefooter {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  height: 250px;
  padding: 40px 0;
  text-align: center;
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
  font-size: inherit;
  line-height: inherit;
  background-color: #f5f5f5;
  &__list > li:first-child {
    margin: 0;
  }
  &__list > li {
    margin: 16px 0 0;
  }
  &__text {
    font-size: 12px;
    color: #333;
  }
  &__text:hover {
    text-decoration: underline;
  }
  &__under {
    font-size: 13px;
    margin: 8px 0 0;
  }
  .footer_icon {
    height: 65px;
    width: 80px;
    margin: 40px auto 0;
    display: block;
    &__logo {
      height: 65px;
      weight: 80px;
    }
    &__logo:hover {
      opacity: 0.5;
    }
  }
}


.simpleheader-registaration {
  height: 128px;
  width: 100%;
  background-color: #f5f5f5;
  padding-top: 3%;
  padding-left: 25%;

  .simpleheader-regi {
    h1 {
      .header-registaration_icon {
        &__logo {
          float: left;
          height: 60px;
          width: 250px;

        }
        &__logo:hover {
        opacity: 0.5;
        }
      }
    }
    .registration-bar {
      float: left;
      .registration-bar__elements {

        .registration-bar__elements__ele, .registration-bar__elements__ele-red {
          display: inline-block;
          list-style-type: disc;
          font-weight: 600;
          font-size: 12px;
          color: #ccc;
          margin-right: 30px;
          .registration-circle, .registration-circle-red {
            width: 12px;
            height: 12px;
            margin: 8px auto 0;
            background-color: #ccc;
            border-radius: 50%;
          }
        }
        .registration-bar__elements__ele-red {
          color: #ea352d;
          .registration-circle-red {
            background-color: #ea352d;
          }
        }
      }
    }
  }
}


