.user_identification {
  margin: 24px auto 0;
  padding: 0 0 40px;
  &__main {
    width: 100%;
  }
  &__content {
    margin: 40px 0 0;
    background-color: #fff;
  }
  &__content:first-child {
    margin: 0;
  }
  &__head {
    padding: 12px 4%;
    border-bottom: 1px solid #f5f5f5;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
  }
  &__form {
    border-top: 1px solid #f5f5f5;
    padding: 40px;
    &__group {
      margin: 40px 0 0;
    }
    &__group > label {
      font-weight: 600;
    }
    &__group > p {
      margin: 8px 0 0;
      line-height: 1.5;
    }
    .form_arbitrary {
      background-color: #ccc;
      margin: 0 0 0 8px;
      padding: 2px 4px;
      border-radius: 2px;
      color: #fff;
      font-size: 12px;
      vertical-align: top;
    }
  }
  &__form > div > p {
    margin: 8px 0 0;
    line-height: 1.5;
  }
  &__form > button {
    margin: 40px 0 0 0;
  }
  &__right_text {
    text-align: right;
  }
  &__right_text > a {
    color: #0099e8;
    text-decoration: none;
    font-size: 14px;
  }
}

@media screen and (min-width: 700px) {
  .user_identification {
    width: 700px;
    margin: 24px auto 0;
    padding: 0 0 40px;
  }
  .user_identification__main{
    float: none;
    width: 700px;
  }
  .my-page-aside_nav{
    width: 700px;
    margin: 40px auto 0;
  }
  .my-page-aside_merupay{
    width: 700px;
    margin: 10px auto 0;
  }
  .my-page-aside_config{
    width: 700px;
    margin: 10px auto 0;
  }
  .merupay {
    width: 700px !important;
    margin: 10px auto 0;
  }
  .config {
    width: 700px !important;
    margin: 10px auto 0;
  }

}

@media screen and (min-width: 1000px) {
  .user_identification {
    width: 1020px;
    margin: 40px auto 0;
    padding: 0 0 40px;
  }
  .user_identification__main{
    float: right;
    width: 700px;
  }
  .my-page_interval {
    margin: 40px auto 0 !important;
    width: 1020px !important;
  }
  .my-page-aside_nav{
    width: 280px;
    margin: 0 40px 0 0;
  }
    .my-page-aside_merupay{
    width: 280px;
    margin: 0 10px 0 0;
  }
    .my-page-aside_config{
    width: 280px;
    margin: 0 10px 0 0;
  }
  .merupay {
    width: 280px;
    margin: 0;
  }
  .config {
    width: 280px;
    margin: 0;
  }
}
