%body
  %header.header
    %section.header_top
      %h1.header_top_logo logo
      %form.header_top_form{:action => "#", :method => "post"}
        %input.header_top_form_search{:name => "search", :type => "text"}/
        %input.header_top_form_btn{:type => "submit", :value => "🔍"}/
    %section.header_bottom
      %nav.header_bottom_nav
        %ul.nav
          %li.nav_list
            カテゴリから探す
            %ul
              %li list_1-1
              %li list_1-2
              %li list_1-3
          %li.nav_list ブランドから探す
      %menu.header_bottom_menu
      %ul.menu
        / not log-in
        %li.menu_list 新規登録
        %li.menu_list ログイン
        / signed-in
        %li.menu__list
          %span.round>
          マイページ
        %li.menu__list
          %span.bell> £
          お知らせ
        %li.menu__list
          %span.check> ☑
          やることリスト
