%footer.simplefooter
  %nav
    %ul.simplefooter__list
      %li
        %a{ href: '', class: "simplefooter__text"} プライバシーポリシー
      %li
        %a{ href: '', class: "simplefooter__text" } メルカリ利用規約
      %li
        %a{ href: '', class: "simplefooter__text" } 特定商取引に関する表記
  = link_to "", class: "footer_icon" do
    = image_tag('mercari_gray.svg', class: "footer_icon__logo")
  %p.simplefooter__under= "©︎ 2019 Mercari"
