%header.simpleheader-registaration
  .simpleheader-regi
    %h1
      = link_to root_path, class: "header-registaration_icon" do
        =image_tag('mercari_logo_horizontal.png', class: 'header-registaration_icon__logo')

    .registration-bar
      %ol.registration-bar__elements
        %li.registration-bar__elements__ele-red
          会員情報
          .registration-circle-red
        %li.registration-bar__elements__ele
          電話番号認証
          .registration-circle
        %li.registration-bar__elements__ele
          お届け先住所入力
          .registration-circle
        %li.registration-bar__elements__ele
          支払い方法
          .registration-circle
        %li.registration-bar__elements__ele
          完了
          .registration-circle
